.plus-empty-bottom button{margin-bottom: 0;}

/**project**/
.list-info-project{padding: 20px 0 0 0; font-size: 14px;}
.list-info-project ul{overflow: hidden; margin: 0 0 20px 0; padding: 0;}
.list-info-project ul li{list-style: none; float: left;}
.list-info-project ul li span{display: block; padding-left: 20px;}
.list-info-project ul:last-child{margin-bottom: 0;}

.title-table-form{display: inline-block;font-size: 16px;margin-bottom: 0px;}
.title-table-form.title-table-form-float{margin-top: -58px;float: left;}
